# Import data

This notebook imports the CSV from Statistics Canada, discards columns not relevant to the analysis, and uploads the resulting table to BigQuery.

In [1]:
import pandas as pd
reported_crime_data = pd.read_csv("../data/35100177.csv")

/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3552: DtypeWarning: Columns (2,14) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [2]:
reported_crime_data.head()

,REF_DATE,GEO,DGUID,Violations,Statistics,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,1998,Canada,2016A000011124,"Total, all violations [0]",Actual incidents,Number,223,units,0,v44348247,1.1.1,2688540.00,NaN,NaN,NaN,0
1,1998,Canada,2016A000011124,"Total, all violations [0]","Rate per 100,000 population",Rate,257,units,0,v44396346,1.1.2,8915.12,NaN,NaN,NaN,2
2,1998,Canada,2016A000011124,"Total, all violations [0]",Percentage change in rate,Percent,239,units,0,v44391402,1.1.3,NaN,..,NaN,NaN,2
3,1998,Canada,2016A000011124,"Total, all violations [0]",Total cleared,Number,223,units,0,v44327422,1.1.4,1073453.00,NaN,NaN,NaN,0
4,1998,Canada,2016A000011124,"Total, all violations [0]",Cleared by charge,Number,223,units,0,v44327628,1.1.5,705133.00,NaN,NaN,NaN,0

In [3]:
reported_crime_data.dtypes

REF_DATE           int64
GEO               object
DGUID             object
Violations        object
Statistics        object
UOM               object
UOM_ID             int64
SCALAR_FACTOR     object
SCALAR_ID          int64
VECTOR            object
COORDINATE        object
VALUE            float64
STATUS            object
SYMBOL           float64
TERMINATED        object
DECIMALS           int64
dtype: object

In [10]:
short_data = reported_crime_data.loc[:,['REF_DATE', 'GEO', 'Violations', 'Statistics', 'VALUE']]
short_data.head()

,REF_DATE,GEO,Violations,Statistics,VALUE
0,1998,Canada,"Total, all violations [0]",Actual incidents,2688540.00
1,1998,Canada,"Total, all violations [0]","Rate per 100,000 population",8915.12
2,1998,Canada,"Total, all violations [0]",Percentage change in rate,NaN
3,1998,Canada,"Total, all violations [0]",Total cleared,1073453.00
4,1998,Canada,"Total, all violations [0]",Cleared by charge,705133.00

In [20]:
from google.cloud import bigquery
client = bigquery.Client()
job = client.load_table_from_dataframe(
    short_data, "newsletter-analysis.reported_crime_data.all_locations_and_violations"
)  # Make an API request.
job.result()

LoadJob<project=newsletter-analysis, location=northamerica-northeast2, id=bf4f4ff9-3b08-40ab-9dc0-cc69c46f0c12>